{% extends "msg_app/app_theme.html" %}
{% block content %}
{% if user.is_authenticated %}
	<table class="table mb-0">
		<thead>
			<tr>
				<th>Subject</th>
				<th>Sender</th>
				<th>Receiver</th>
				<th>Creation Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for msg in msgs %}
				<tr>
					<td>{{msg.subject}}</td>

					<td>{{msg.sender}}</td>

					<td>{{msg.receiver}}</td>

					<td>{{msg.creation_date}}</td>

					<td><a href="{% url 'msg_app:show_msg' msg.id %}" class="btn btn-primary btn-sm">Read</a></td>

					<td><a href="#delete_conf_modal" class="waves-effect waves-light btn modal-trigger" style="background-color: #900500; color: white">Delete</a></td>

					<div id="delete_conf_modal" class="modal">

						<div class="modal-content">
							<h4>Are you sure you want to delete this message?</h4>
						</div>

						<div class="modal-footer">
							<form method="post" action="{% url 'msg_app:delete_msg' msg.pk %}">
								{% csrf_token %}
								<button type="submit" class="modal-close waves-effect waves-red btn-flat">Confirm
								</button>
								<a href="#!" class="modal-close waves-effect waves-green btn-flat">
								Cancel</a> 
							</form>
						</div>

					</div>

				</tr>
			{% endfor %}
		</tbody>
	</table>
	<p>
		<a href="{% url 'msg_app:new_msg' %}" class="btn btn-primary">Compose</a>
		<a href="{% url 'msg_app:read_all' %}" class="btn btn-primary">Read All</a>
		<a href="{% url 'msg_app:read_all' %}" class="btn btn-primary">Get Unread</a>
	</p>
{% else %}
	<h4>You need to login first to view messages...</h4>
	<br>
	<br>
	<br>
	<div class="border-top" pt-3>
		<small class="text-mutted"><a class="ml-2" href="{% url 'users_app:login_request' %}"><strong>Login</strong></a> or<a class="ml-2" href="{% url 'users_app:register_request' %}"><strong>Register</strong></a></small>
	</div>
{% endif %}	
{% endblock %}